<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="topnav">
    <ul>
      <li><a [routerLink]="['/homeLink']">Home</a></li>
      <li><a [routerLink]="['/registerLink']">Register</a></li>
      <li><a [routerLink]="['/loginLink']">Login</a></li>
      
    </ul>
  </div>
  <div><!--router outlet is used to make it dynamic-->
    <router-outlet>
    </router-outlet>
  </div>
  
</body>
</html>